<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065612613080-2jmler4dj0rahaks3m15kkl7gp63hbkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065612613080-2jmler4dj0rahaks3m15kkl7gp63hbkp</string>
	<key>API_KEY</key>
	<string>AIzaSyAah45uGinj66HbqK3rAZTHuh77KMKDnKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1065612613080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMySurveyApp</string>
	<key>PROJECT_ID</key>
	<string>mysurveyappauth</string>
	<key>STORAGE_BUCKET</key>
	<string>mysurveyappauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065612613080:ios:2174bf172999f723f78ead</string>
</dict>
</plist>